body{
    background-color: rgb(221, 221, 163);
    color: rgb(97, 0, 0);
}

h1, h2, p{
    text-align: center;
}

h2{
    font-size: 55px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}